stages:
  - build:commons
  - build
  - test
  - run

# Ada
.ada:
  image: registry.gitlab.com/switchware/containers/ada:latest

# Maven

.maven:
  image: maven:latest
  variables:
    MAVEN_CLI_OPTS: "--batch-mode"
    MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"

.maven:compile:
  stage: build
  needs:
    - job: commons:kotlin:deploy
      optional: true
  dependencies:
    - commons:kotlin:deploy
  script:
    - mvn $MAVEN_CLI_OPTS compile package -Dmaven.test.skip=true

.maven:test:
  stage: test
  script:
    - mvn $MAVEN_CLI_OPTS test

# Lua

.lua:
  image: registry.gitlab.com/switchware/containers/lua:latest

# Projects

include:
 - local: /aoc-commons/.gitlab-ci.yml
 - local: /2021/ada/.gitlab-ci.yml
 - local: /2021/kotlin/.gitlab-ci.yml
 - local: /2020/kotlin/.gitlab-ci.yml
 - local: /2020/lua/.gitlab-ci.yml
 - local: /2015/.gitlab-ci.yml
