variables:
  MAVEN_CLI_OPTS: "--batch-mode"
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"

stages:
  - build
  - test
  - run

.test:
  stage: test

.run:
  stage: run

# Maven

.maven:
  image: maven:latest

.maven:test:
  extends: .test
  script:
    - mvn $MAVEN_CLI_OPTS test

.maven:compile:
  stage: build
  script:
    - mvn $MAVEN_CLI_OPTS compile package

# Lua
.lua:
  image: superpaintman/lua:5.3.3

# 2015

.maven:2015:
  extends: .maven
  only:
    changes:
      - 2015/*
  before_script:
    - cd 2015
  cache:
    key: 'maven:2015'
    paths:
      - 2015/.m2/repository/
      - 2015/target/

compile:java:2015:
  extends:
    - .maven:2015
    - .maven:compile

test:java:2015:
  extends:
    - .maven:2015
    - .maven:test
  needs:
    - compile:java:2015

run:java:2015:
  extends:
    - .maven:2015
    - .run
  needs:
    - test:java:2015
  script:
    - java -jar target/adventofcode.2015-1.0.0-SNAPSHOT-jar-with-dependencies.jar

#2020

.lua:2020:
  extends: .lua
  only:
    changes:
      - 2020/lua/*
  before_script:
    - cd 2020/lua

test:lua:2020:
  extends:
    - .lua:2020
    - .test
  needs: []
  script:
    - ./test.sh

run:lua:2020:
  extends:
    - .lua:2020
    - .run
  needs:
    - test:lua:2020
  script:
    - ./run.sh

.maven:2020:
  extends: .maven
  only:
    changes:
      - 2020/kotlin/*
  before_script:
    - cd 2020/kotlin
  cache:
    key: 'maven:2020'
    paths:
      - 2020/kotlin/.m2/repository/
      - 2020/kotlin/target/

compile:kotlin:2020:
  extends:
    - .maven:2020
    - .maven:compile

test:kotlin:2020:
  extends:
    - .maven:2020
    - .maven:test
  needs:
    - compile:kotlin:2020

run:kotlin:2020:
  extends:
    - .maven:2020
    - .run
  needs:
    - test:kotlin:2020
  script:
    - java -jar target/adventofcode.2020-1.0.0-SNAPSHOT-jar-with-dependencies.jar
